# === Eclipse ===
.project
.classpath
.settings/

# === VS Code ===
.vscode/

# === IDEs ===
.idea/
*.iml

# === Build folders ===
/out/
/target/
/build/

# === Compiled files ===
*.class
*.jar
*.war
*.ear

# === Temporary files ===
*.log
*.tmp
*.bak
*~

# === OS files ===
.DS_Store
Thumbs.db

# Misc
sources.txt
src_list.txt
/bin/
